<!DOCTYPE html>
<head>
	<meta http-equiv="content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>kiTree</title>
	<link rel="stylesheet" type="text/css" href="./css/ui.css" />
	<link rel="stylesheet" type="text/css" href="./demo/css/kitree.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="./demo/js/jquery.kitree.min.js"></script>
	<!--<script type="text/javascript" src="./min/jquery.kitree.1.0.1.js"></script>-->

	<link rel="stylesheet" href="./plugin/codemirror/lib/codemirror.css">
	<link rel="stylesheet" href="./plugin/codemirror/addon/hint/show-hint.css">
	<script src="./plugin/codemirror/lib/codemirror.js"></script>
	<script src="./plugin/codemirror/addon/hint/show-hint.js"></script>
	<script src="./plugin/codemirror/addon/hint/xml-hint.js"></script>
	<script src="./plugin/codemirror/addon/hint/html-hint.js"></script>
	<script src="./plugin/codemirror/mode/xml/xml.js"></script>
	<script src="./plugin/codemirror/mode/javascript/javascript.js"></script>
	<script src="./plugin/codemirror/mode/css/css.js"></script>
	<script src="./plugin/codemirror/mode/htmlmixed/htmlmixed.js"></script>
	<script src="./plugin/codemirror/addon/selection/active-line.js"></script>

	<script type="text/javascript">
	$(document).ready(function(){
		$("#lnbTree").kiTree({
			useCount: true
		});

		$("a.btn_Donate").click(function(e){
			$("#formDonate").submit();
			e.preventDefault();
		});
	});
	</script>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<div id="wrap">
	<div id="header">
		<div class="inner">
			<a href="./"><h1>kiTree</h1></a>
			<p>
				<b>kiTree</b> 는 트리구조 구현을 좀 더 편하게 하기 위해 만들어진 jQuery 위젯입니다.<br />
				기본적인 트리구조외에 드레그앤드롭, 체크박스 등의 옵션을 제공합니다.
			</p>
			<a href="./download/jquery.kitree.1.0.1.zip" target="_blank" class="btn_download"><img src="./images/bg_btnDownload.png"> Download</a>
			<a href="#" class="btn_Donate"><img src="./images/bg_btnDonate.png"> Donate</a>
			<form id="formDonate" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="AL9FTP9Z494GS">
			<!--
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/ko_KR/i/scr/pixel.gif" width="1" height="1">
			-->
			</form>
		</div>
		<div class="discuss">
			Discuss : <a href="mailto:kiplayer@naver.com">kiplayer@naver.com</a>
		</div>
	</div>
	<div id="container">
		<div class="inner">
			<div id="lnb">
				<div id="lnbTree">
					<ul>
						<li><a href="./index.html#Introduction">Introduction</a></li>
						<li><a href="./index.html#Features">Features</a></li>
						<li><a href="./index.html#Download">Download</a></li>
						<li><a href="./index.html#Tutorial">Tutorial</a></li>
						<li><a href="./index.html#Options">Options</a></li>
						<li>
							<a href="./demo_basic.html">Demo</a>
							<ul>
								<li><a href="./demo_basic.html">Basic</a></li>
								<li><a href="./demo_checkbox.html">Use Checkbox</a></li>
								<li><a href="./demo_bordered.html">Use Bordered</a></li>
								<li><a href="./demo_count.html">Use Count</a></li>
								<li><a href="./demo_dragndrop.html">Use Drag & Drop</a></li>
								<li><a href="./demo_json.html">Use JSON Data</a></li>
								<li><a href="./demo_search.html">Tree Search</a></li>
							</ul>
						</li>
						<!--li><a href="#">License</a></li-->
					</ul>
				</div>
				<div class="adArea">
					AD
				</div>
			</div>
			<div id="content">